statemachines/new-entry-workflow.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "New entry",
  "States": {
    "New entry": {
      "Type": "Pass",
      "Next": "ValidateEntry"
    },
    "ValidateEntry": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Require manual approval?"
    },
    "Require manual approval?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$state.isSuspicious",
          "BooleanEquals": true,
          "Next": "SendEmail"
        }
      ],
      "Default": "Save score"
    },
    "SendEmail": {
      "Type": "Task",
      "Next": "Parallel",
      "Parameters": {
        "Content": {}
      },
      "Resource": "arn:aws:states:::aws-sdk:sesv2:sendEmail.waitForTaskToken"
    },
    "Parallel": {
      "Type": "Parallel",
      "Next": "Choice",
      "Branches": [
        {
          "StartAt": "Wait for manual approval",
          "States": {
            "Wait for manual approval": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName": "WaitForManualApproval",
                "Payload.$": "$"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Manual approval timeout",
          "States": {
            "Manual approval timeout": {
              "Type": "Wait",
              "Seconds": 86400,
              "End": true
            }
          }
        }
      ]
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$state.isManuallyApproved",
          "BooleanEquals": true,
          "Next": "Save score"
        }
      ],
      "Default": "Write entry in DLQ"
    },
    "Write entry in DLQ": {
      "Type": "Task",
      "Parameters": {
        "Body": {},
        "Bucket": "MyData",
        "Key": "MyData"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "Next": "Success"
    },
    "Save score": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}